################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExperementsAPI/.vs/ExperementsAPI
/ExperementsAPI/obj
/ExperementsAPI/.vs/ProjectEvaluation
/ExperementsAPI/bin/Debug/net7.0
